:root {
	--vp-home-hero-name-color: rgb(40 111 255);
	--vp-button-brand-bg: rgb(40 111 255);
	--vp-button-brand-border: rgb(40 111 255);
    --vp-button-brand-hover-bg: rgb(40 111 255);
	--vp-button-brand--hover-border: rgb(40 111 255);
	--vp-c-brand: rgb(40 111 255);
}
